
<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <link rel="icon" href="/img/logo.png"/>

    <meta name="description" content="{{ descripcion }}"/>

      {% eleventyGoogleFonts "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"%}
  <link rel="stylesheet" href="/css/fontawesome.css"/>
      <link rel="stylesheet" href="/css/custom.css"/>
  </head>
  <body>
  {% include "header.njk" %}
    <!-- Contenido Principal -->
    <main>{{ content | safe }}</main>
    {% include "conponents/player-songs.njk"%}
{% include "footer.njk"%}

    <script type="module" src="/app/index.js"></script>
  </body>
</html>
